@import "tailwindcss";

@theme {
  --color-background: white;
  --color-foreground: #1e293b;

}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f8fafc;

  background-color: var(--color-background);
  color: var(--color-foreground);
}